#Local Mac Specific Files
.DS_Store

#Local Folders
.vscode
.pytest_cache
__pycache__
package_filerename/__pycache__

#These two are local test files.
Terminal Saved Output.txt
Terminal Saved Output2.txt

